<div class="container mt-4">
  <h2>Plate Details</h2>

  <p>
    <strong>Title:</strong>
    <%= @plate.title %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= @plate.order %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= @plate.collection&.id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag @plate.image if @plate.image.attached? %>
  </p>

  <%= link_to 'Edit', edit_admin_panel_plate_path(@plate), class: 'btn btn-warning' %>
  <%= link_to 'Back', admin_panel_plates_path, class: 'btn btn-secondary' %>
</div>
